//Body
$basicColorText: #6f7173;
$bgBody: #fff;
$fontBody: 'Roboto', sans-serif;


//Nav
$bgIconLogo: #5094f2;
$colorTextLogo: black;
$colorBorderNav: #5094f2;


//Header
$bgHeader: url("../img/bgHeader.jpg");
$colorTextHeader: white;
$bgButtunHeader: #5094f2;
$bgIconHeader: white;


//Contrag
$bgColorIconPencil: #5094f2;
$bgColorIconScreen: #d94748;
$bgColorIconBasket: #ebbb11;
$colorTextH2: #5c9bf3;


//Shopping
//Footer
