@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "partials/params";
@import "partials/mixins";

*{
  margin: 0;
  padding: 0;
}
html, body{
  background: $bgBody;
  color: $basicColorText;
  font-family: $fontBody;
  line-height: 1.2;
}
a{
  color: $basicColorText;
  text-decoration: none;
}
ul{
  list-style: none;
}
