@import "partials/params";
@import "partials/mixins";

#mainContent {
  #shopping {
    @include basicWidth;
    @include piddLeftRight;
    margin-bottom: 50px;

    .row {
      justify-content: center;
      align-items: flex-end;

      .boxCart {
        display: flex;
        flex-flow: column;
        justify-content: center;

        span {
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 30px;
        }

        img {
          width: 371px;
          height: 279px;
        }
      }

      .boxText {
        line-height: 2.5;

        h2 {
          font-size: 26px;
          margin-bottom: 10px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}
